<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="jumbotron m-0 pb-0 pt-3">
        <h1>Nguyen Huu Hieu</h1>
        <p>Website use Spring boot, Spring Security</p>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <h6>About</h6>
                <p class="text-justify">Smartphonesweb <i>(JAVA WEB)</i> Website is using Spring boot framework, spring security with database mysql server, template thymeleaf.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="p-0" style="text-align:left; list-style-type: none">
                    <li>Java</li>
                    <li>Spring boot</li>
                    <li>Spring security</li>
                    <li>Mysql server</li>
                    <li>Thymeleaf</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>About us</h6>
                <ul class="p-0" style="text-align:left; list-style-type: none">
                    <li>Nguyen Huu Hieu</li>
                    <li>0333186515</li>
                    <li>hieunh020201@gmail.com</li>
                    <li>Ho Chi Minh, VietNam</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Nguyen Huu Hieu</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="nav">
                    <li class="nav-item"><a class="m-1" href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="nav-item"><a class="m-1" href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="nav-item"><a class="m-1" href="#"><i class="fab fa-dribbble-square"></i></a></li>
                    <li class="nav-item"><a class="m-1" href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>